.first{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    height: 200px;
    width: 250px;
    padding: 20px;
    border: 1px solid rgb(202, 97, 97) ;
    border-radius: 30px;
    background-color: rgb(240, 248, 255);

}

h1{
    display: inline-block;
    background-color: orange;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 6px;
}


p{
    display: inline-block;
    background-color: orange;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 6px;
}
.contain{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}


.circle1{
    display: inline-block;
    text-align: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: red;
    
}

.circle2{
    display: inline-block;
    text-align: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(140, 74, 190);
    
}

.circle3{
    display: inline-block;
    text-align: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(53, 235, 20);
    
}

.circle4{
    display: inline-block;
    text-align: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(154, 219, 42);
    
}

.circle5{
    display: inline-block;
    text-align: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(179, 16, 111);  
}

.circle6{
    display: inline-block;
    text-align: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(53, 216, 197);  
}


.circle7{
    display: inline-block;
    text-align: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(186, 171, 219);  
}


.circle8{
    display: inline-block;
    text-align: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(214, 220, 61);  
}


.circle9{
    display: inline-block;
    text-align: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(167, 225, 146);  
}









